
        *{
            margin: 0;
            padding: 0;
        }
        body,html{
            padding: 0;
            margin: 0;
            height: 100%;
        }
       h1,h2,h3,h4,h5,p,a,span{
            font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
        }
        #container{
            height: 100%;
        }
        #map{
            width: 79%;
            border: 1px solid #666;
            float: left;
            height: 99%;
        }
        #sidebar{
            width: 19%;
            margin: 0.5%;
            height: auto;
            float: left;
        }
        #debug{
            overflow-y: auto;
            font-size: 9px;
            height: 100px;
        }
        h3{
            border-bottom: 2px solid #FFCD83;
        }
        #search{
          margin-top: 8px;
        }
        ul.ui-autocomplete{
          font-size: 0.7em;
        }
        .suggs{
          font-size: 0.7em;
          cursor: pointer;
          padding: 5px;
        }
        .suggs:hover{
          color: #973;
        }
